<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141626143701-02h8clil2k0mf4ohp28g5ok4mfbvqtna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141626143701-02h8clil2k0mf4ohp28g5ok4mfbvqtna</string>
	<key>API_KEY</key>
	<string>AIzaSyBaR7fiI0_wbu1ewd0RpndcJop1tIU40Ws</string>
	<key>GCM_SENDER_ID</key>
	<string>141626143701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sanskar.kasper.com</string>
	<key>PROJECT_ID</key>
	<string>kasper-music-faf38</string>
	<key>STORAGE_BUCKET</key>
	<string>kasper-music-faf38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141626143701:ios:8de8390ca0352bfc</string>
	<key>DATABASE_URL</key>
	<string>https://kasper-music-faf38.firebaseio.com</string>
</dict>
</plist>