.audioPlayer {
    position: fixed;
    left: 0%;
    width: 100%;
    border-radius: -12%;
    border-spacing: 15px;
    border-color: #fff;
    background-color: #fff;
    background-size: contain;
    padding-bottom: 120px;
    padding-top: 10px;
    top:90%;
    background-color: #357edd;
    color: #357edd;
}