.App {
  text-align: center;
  background-color:#13182B;
}



.left-side-section {
  position:fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 180px;
  overflow-y: auto;
}

.cardsection {
  margin-left: 200px;
  height:50%;
  width:100% 
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.block {
    width: 100px;    
}

.weekly_cont {
  height:300px;
}

